In [15]:
import numpy as np
import matplotlib.pyplot as plt

In [8]:
a=15
if a==15:
    for i in range (a): # we use range()to generate a sequence of numbers.
       print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [9]:
x=5
f=lambda x:2*x**2+2 # lambda is used as a way to sequence a funcation defination.
print (f(x))

52

In [10]:
x1=float(input("enter x1: "))
x2=float(input("enter x2 "))
# when we take real values from user , we use float.

enter x1: 5
enter x2 4

In [11]:
x1

5.0

In [12]:
x2

4.0

In [13]:
x="hina" # we always write string in inverted commas
print (x)

hina

In [16]:
a=3
b=3
if b==a:
   print("my name is hina")

my name is hina